name: build-book  # Name des Workflows

permissions:
  contents: write   # erlaubt Push auf gh-pages

on:
  push:
    branches:
      - main        # läuft, wenn du auf main etwas änderst/pusht

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install Jupyter Book
        run: pip install -U jupyter-book

      - name: Build the Jupyter Book
        run: jupyter-book build book

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book/_build/html
          publish_branch: gh-pages
